@page
@model AspDotNETWebApplication1.Pages.Books.DisplayBooks
@{
}
<script>
    function myDelete(link,id) {
        let text = "Are you sure you want to delete book "+id+" ?";
        let _link=link;
        if (confirm(text) == true) {
            
           window.open(link,'_self');
        } 
    }
</script>
<br>
<h1>Book List</h1>
<a href="/Books/CreateBook"><button class ="btn-primary btn-sm">Add Book</button></a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publication</th>
            <th>Price</th>
          
        </tr>
    </thead>
    <tbody>
        
        @foreach (var book in Model.BookList)
        {

            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publication</td>
                <td>@book.Price</td>
                <td><a href="/Books/UpdateBook?bookCode=@book.Id"><button class="btn-primary btn-sm">edit</button></a></td>
                <td><button class="btn-primary btn-sm" style="background-color:red;border-color:red" onclick='myDelete("/Books/DisplayBooks?bookCode=@book.Id","@book.Id")'>delete</button></td>
            </tr>
         @*   <a href=>
            </a>*@
            
        }
    </tbody>

</table>