@page
@model AspDotNETWebApplication1.Pages.Books.DisplayBooks
@{
}
<br>
<h1>Book List</h1>
<a href="/Books/CreateBook"><button class ="btn-primary btn-sm">Add Book</button></a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publication</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.BookList)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publication</td>
                    <td>@book.Price</td>
                </tr>
            }
    </tbody>

</table>